body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #BF9004;
    color: #fff;
}

.container {
    width: 400px;
    margin: 0 auto;
    button {
        height: 35px;
        background-color: #A60321;
        border: none;
        border-radius: 8px;
        margin: 0 15px;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #D9B504;
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
    text-transform: capitalize;
}

th {
    border: 1px solid #000;
    background: #A60321;
}

td {
    padding: 3px;
    text-align: left;
    border: 1px solid #000;
    width: 50%
}

tbody tr:nth-child(odd) {
    background: #D9B504;
}